<!DOCTYPE HTML> 
<html lang="en"> 
<head> 
  <title>Hackers at Berkeley</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta http-equiv="Content-Language" content="en-us"> 

  <link href="/css/style.css" rel="stylesheet" type="text/css"> 
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</head> 
 
<body>
<div id="helpMeImStuck">
<%-partial('partials/gloss.ejs')%>
<%-body%>
<div class="clear"></div>
</div>
<div id="footer">Sign up for the mailing list: 
  <input type="text" name="email" id="email" size="18" placeholder="hackers@berkeley.edu">
  <input type="submit" value="Go" id="mailinglist"><br>
  <strong><a href="#">Back to top</a></strong></div>

<form id="list" action="http://ericzhang.com/2/sub.php" method="post"><input type="hidden" name="e" id="e"></form>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-55004576-1', 'auto');
  ga('send', 'pageview');
</script>
</body> 
</html> 
