<div class="wrap">
  <h1>This is who we are</h1>
  <div class="box">
    <p>As a community of hackers, we do not have hierarchy or elections. The club is led by a group of officers.
    <p>If you would like to become a Hackers @ Berkeley officer, simply ask an existing one for the location and place of the next meeting.</p>
  </div>
  <h1>This is who to contact</h1>
  <div class="box">
    <p><strong>Everyone:</strong> <a href="mailto:team@hackersatberkeley.com">team@hackersatberkeley.com</a></p>
    <p><strong>Events/Sponsorships:</strong> <a href="mailto:ir@hackersatberkeley.com">ir@hackersatberkeley.com</a></p>
  </div>
</div>
